<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; padding-top: 100px">
  <h1>
    Demo for Built-in pipes
  </h1>
  <p>The birthday date is {{ birthday | date }}</p>
  <!--<p>The birthday date is {{ birthday | date:"MM/dd/yy" }} </p>-->
  <!--<p>The birthday date is {{ birthday | date:format }}</p>
  <button (click)="toggleFormat()">Toggle Format</button>-->

  <!--<p>The chained birthday date is {{ birthday | date | uppercase}}</p>-->
  <!--<p>The chained birthday date is {{  birthday | date:'fullDate' | uppercase}}</p>-->
</div>
